  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'todo:todo_list' %}">Todos</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if not request.user.is_anonymous %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-fill"></i>{{request.user}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="dropdown-item">Logout</button>
            </form>
            <a class="dropdown-item" href="#">My Profile</a>
            {% if request.user.is_superuser %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">Manage</a>
          </div>
          {% endif %}
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
